html {
    font-size: 62.5%;
}

body {
    font-family: Poppins, sans-serif;
    color: var(--color-body);
    font-size: 3.2rem;
    line-height: 1.5;
}

:root {
    --color-primary: #888bfe;
    --color-secondary: white;
    --color-accent: #393b8c;
    --color-heading: black;
    --color-body: black;
}

h1, h2, h3 {
    color: var(--color-heading);
}

h1 {
    font-size: 4.9rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

h2 {
    font-size: 3.2rem;
    margin-top: 3rem;
}

h3 {
    font-size: 2.2rem;
    margin-top: 3rem;
    margin-bottom: 7rem;
    color: var(--color-primary);
    font-family: "Source Sans Pro", sans-serif;
    display: inline-block;
}

h3::before {
    font: var(--fa-font-solid);
    content: " ";
    margin-right: 0.8rem;
    margin-left: 1rem;
    width: 1.4rem;
    height: 2.2rem;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 4rem;
    }

    h1 {
        font-size: 6.4rem;
    }

    h2 {
        font-size: 3.2rem;
        margin-top: 0rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    .view {
        top: 130rem;
        left: 64rem;
        background-color: var(--color-accent);
        border-radius: 1.4rem;
        width: 17.6rem;
        height: 4.7rem;
        margin-left: 3rem;
        font-size: 1.5rem;
        color: var(--color-secondary);
        font-family: "Source Sans Pro", sans-serif;
        cursor: pointer;
        position: absolute;
        border: none;
    }
}

a {
    text-decoration: none;
}

.input {
    outline: none;
    border-radius: 8px;
    font-size: 2rem;
    padding: 1.5rem 3.5rem;
}

::placeholder {
    color: rgb(158, 158, 158);
}

h3::before {
    font: var(--fa-font-solid);
    content: " ";
    margin-right: 0.8rem;
    margin-left: 1rem;
    width: 1.4rem;
    height: 2.2rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav__list {
    width: 100%;
    list-style-type: none;
}

.nav__item {
    padding: 1.6rem 2.5rem;
    border-bottom: 1px solid black;
    font-weight: bold;
}

.nav__item > a {
    color: black;
    transition: color 0.3s ease 0s;
}

.nav__item > a:hover {
    color: var(--color-primary);
}

.nav__toggler {
    padding: 1.8rem;
    cursor: pointer;
}

.collapsible--expanded .collapsible__content {
    max-height: 100%;
    opacity: 1;
}

.nav__list {
    width: 100%;
    padding-right: 0rem;
    padding-left: 0rem;
    font-size: 2rem;
}

.collapsible__content {
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s ease 0s;
}

@media screen and (min-width: 1024px) {
    .nav__toggler {
        display: none;
    }

    .nav__list {
        width: auto;
        display: flex;
        font-size: 1.8rem;
        max-height: 100%;
        opacity: 1;
        margin: -0.5rem 0px 0px;
        padding-right: 19rem;
        padding-left: 0rem;
        padding-top: 1.3rem;
    }

    .nav__item {
        border: 0px;
    }
}

.img {
    height: 8rem;
    width: 10.8rem;
    margin-left: 1rem;
}

@media screen and (min-width: 1024px) {
    .img {
        height: 8rem;
        width: 10rem;
        margin-left: 24rem;
        margin-top: -1rem;
    }
}

.cta {
    margin-left: 2rem;
}

button {
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0.8rem 1.6rem;
    color: white;
    background-color: rgb(136, 139, 254);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-top: 1rem;
}

.banniere {
    display: block;
}

.txt {
    position: absolute;
    top: 22%;
    left: 49%;
    transform: translate(-50%, -50%);
    width: 40rem;
    max-width: 100%;
}

@media screen and (min-width: 1024px) {
    .banniere {
        display: inline;
        max-width: 100%;
        height: auto;
    }

    .txt {
        position: absolute;
        top: 25%;
        left: 49%;
        transform: translate(-50%, -50%);
        width: 44rem;
        max-width: 100%;
    }

    .banniere_mobile {
        display: none;
    }
}

.nav__size {
    height: 0.1rem;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    top: 0px;
    left: 0px;
}

.banniere_mobile {
}

.search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 0px 8px 16px;
    gap: 1rem;
    position: absolute;
    inset: 50.15% 29.27% 39% 22.6%;
    background: white;
    border-radius: 8px;
}

#srr {
    width: 129.13px;
    height: 23.85px;
    outline: none;
    flex: 0 0 auto;
    order: 1;
    border: none;
    border-radius: 8px;
    font-size: 12px;
}

#bt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 27px 48px;
    gap: 1rem;
    position: absolute;
    inset: 48.7% 20.42% 60.49% 71.82%;
    background: rgb(136, 139, 254);
    border-radius: 8px;
    white-space: nowrap;
    cursor: pointer;
}

#lg {
    color: rgb(136, 139, 254);
    height: 24.0234px;
    width: 18px;
    left: 16px;
    top: 18.5117px;
    border-radius: 0px;
    font-size: 22px;
}

@media screen and (min-width: 1024px) {
    .search-form {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 7px 0px 8px 16px;
        gap: 1rem;
        position: absolute;
        inset: 50.15% 29.27% 38.4% 22.6%;
        background: white;
        border-radius: 8px;
    }

    #srr {
        width: 329.13px;
        height: 33.85px;
        outline: none;
        flex: 0 0 auto;
        order: 1;
        border: none;
        border-radius: 8px;
        font-size: 12px;
    }

    #bt {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 2.35rem -3.2rem;
        gap: 1rem;
        position: absolute;
        inset: 48% 20.42% 90.49% 71.82%;
        background: rgb(136, 139, 254);
        border-radius: 8px;
        white-space: nowrap;
        cursor: pointer;
    }

    #lg {
        color: rgb(136, 139, 254);
        height: 24.0234px;
        width: 18px;
        left: 16px;
        top: 18.5117px;
        border-radius: 0px;
        font-size: 22px;
    }
}

@media screen and (min-width: 1024px) {
    h1.title {
        font-family: Poppins;
        font-size: 49px;
        font-weight: 600;
        line-height: 55px;
        letter-spacing: 0em;
        text-align: center;
    }

    h2.title {
        font-family: Poppins;
        font-weight: 600;
        line-height: 55px;
        letter-spacing: 0em;
        text-align: center;
    }

    .promo1 {
        max-width: 100%;
        height: 26rem;
        width: 122rem;
        left: 26.1rem;
        top: 18.3rem;
        border-radius: 0px;
        place-content: center;
        padding: 0px 5%;
        margin: auto;
        display: flex;
        align-items: center;
    }
}

h1.title {
    font-family: Poppins;
    font-size: 55px;
    font-weight: 600;
    line-height: 55px;
    letter-spacing: 0em;
    text-align: center;
}

h2.title {
    font-family: Poppins;
    font-weight: 600;
    line-height: 55px;
    letter-spacing: 0em;
    text-align: center;
}

.nom {
    padding-left: 19.5rem;
    font-size: 2.2rem;
    padding-bottom: 0rem;
}

.cafe {
    height: 201px;
    width: 257px;
    padding-left: 192px;
    left: 0px;
    top: 82px;
    border-radius: 16px;
}

.checked {
    color: var(--color-primary);
}

.first {
    padding-left: 1.5rem;
}

.lin {
    display: inline;
}

a.location {
    padding-left: 18.8rem;
}

.spc {
    top: 69%;
}

.all {
    display: flex;
    justify-content: space-evenly;
    width: 1180px;
    padding-left: 176px;
}

.one {
}

.cafe.two {
    padding-left: 0px;
}

.cafe.three {
    padding-left: 0px;
}

.cafe.two {
    padding-left: 0px;
}

.nom.cafe.two {
    padding-left: 0px;
}

.nom.cafe.four {
    padding-left: 0px;
}

.two.img.cafe {
    padding-left: 0px;
}

.view1 {
    top: 178rem;
    left: 64rem;
    background-color: var(--color-accent);
    border-radius: 1.4rem;
    width: 17.6rem;
    height: 4.7rem;
    margin-left: 3rem;
    font-size: 1.5rem;
    color: var(--color-secondary);
    font-family: "Source Sans Pro", sans-serif;
    cursor: pointer;
    position: absolute;
    border: none;
}

.view2 {
    top: 220rem;
    left: 58rem;
    background-color: var(--color-accent);
    border-radius: 1.4rem;
    width: 17.6rem;
    height: 4.7rem;
    margin-left: 3rem;
    font-size: 1.5rem;
    color: var(--color-secondary);
    font-family: "Source Sans Pro", sans-serif;
    cursor: pointer;
    position: absolute;
    border: none;
}

.dj {
    height: 21.8rem;
    width: 21.8rem;
    border-radius: 100%;
}

.name {
    font-family: "Source Sans Pro";
    font-size: 25px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
}

.view3 {
    top: 224rem;
    left: 64rem;
    background-color: var(--color-accent);
    border-radius: 1.4rem;
    width: 17.6rem;
    height: 4.7rem;
    margin-left: 3rem;
    font-size: 1.5rem;
    color: var(--color-secondary);
    font-family: "Source Sans Pro", sans-serif;
    cursor:pointer;
    position: absolute;
    border: none;
}

.pref {
    max-width: 100%;
    padding-top: 15rem;
    position: relative;
}

.pref1 {
    height: 19rem;
    border-radius: 4.6rem;
    padding: 5.5rem;
    position: absolute;
    top: 357%;
    left: 52%;
    transform: translate(-50%, -50%);
}

.pref2 {
    height: 42rem;
    border-radius: 46px;
    padding: 55px;
    position: absolute;
    top: 411.86%;
    left: 37%;
    transform: translate(-50%, -50%);
}

.pref3 {
    border-radius: 46px;
    padding: 55px;
    position: absolute;
    top: 400%;
    left: 70%;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

.pref4 {
    width: 40rem;
    border-radius: 46px;
    padding: 55px;
    position: absolute;
    top: 390%;
    left: 70%;
    transform: translate(-50%, -50%);
}

footer {
    max-width: 100%;
    width: 1922px;
    height: 320px;
    background: rgb(33, 33, 33);
    top: 441%;
    position: absolute;
    flex: 0 0 auto;
    order: 1;
}

.insta {
    width: 21px;
    height: 21px;
    flex: 0 0 auto;
    order: 0;
    cursor: pointer;
}

.fb {
    width: 23.25px;
    height: 23.11px;
    flex: 0 0 auto;
    order: 1;
    cursor: pointer;
}

.social {
    position: absolute;
    left: 64.5%;
    top: 15%;
}

.city {
    padding: 0px;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0px;
    position: absolute;
    left: 14%;
}

.str {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    color: rgb(245, 245, 245);
    opacity: 0.5;
}

.st {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(198, 190, 190);
    opacity: 0.5;
}

thead {
    color: rgb(255, 255, 255);
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
}

.ct {
    color: rgb(245, 245, 245);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    height: 30px;
    flex: 0 0 auto;
    order: 1;
}

.copyright {
    position: absolute;
    top: 55%;
    left: 14%;
}

.tlt {
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.city1 {
    padding: 0px;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0px;
    position: absolute;
    left: 29%;
}

.ct1 {
    color: rgb(245, 245, 245);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    height: 30px;
    flex: 0 0 auto;
    order: 1;
}

.tlt1 {
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.city2 {
    padding: 0px;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0px;
    position: absolute;
    left: 41%;
}

.ct2 {
    color: rgb(245, 245, 245);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    height: 30px;
    flex: 0 0 auto;
    order: 1;
}

.tlt2 {
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.city3 {
    padding: 0px;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0px;
    position: absolute;
    left: 52%;
}

.ct3 {
    color: rgb(245, 245, 245);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    height: 30px;
    flex: 0 0 auto;
    order: 1;
}

.tlt3 {
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.h_line {
    border-bottom: 1px solid rgb(80, 80, 78);
    width: 850px;
    margin: auto;
    position: absolute;
    top: 75%;
    left: 14%;
}

.v_line {
    border-left: 1px solid rgb(80, 80, 78);
    height: 215px;
    margin: 0px auto;
    width: 2px;
    position: absolute;
    top: 8%;
    left: 62%;
}

.tlt4 {
    font-size: 18px;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 3%;
    left: 63.5%;
}

