* {
    margin: 0 auto;
}

.main-carousel {
    margin-top: 10px;
    margin-bottom: 0;
    width: 1400px;
    height: 400px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.image {
    width: 70%;
    max-height: 500px;
    overflow: hidden;
}

.desc {
    width: 30%;
    border: 1px solid black;
    padding: 10px;
}

/* Carousel */
img {
    max-width: 100%;
    max-height: 100%;
}

.carousel-item {
    width: 980px;
    height: 400px;
}

/* descrption */
h1 {
    font-style: bold;
    font-family: Fantasy;
    font-size: 40px;
}

.description {
    font-size: 22px;

    line-height: 40px;
    font-weight: 450px;
}


#nb-jaime {
    color: #B24BF3;
    font-size: 35px;
    font-weight: 500;
}

#heart {
    color: #B24BF3;
    font-size: 35px;
}

#rank {
    font-weight: 650;
    font-size: 18px;
}

/* OTHER djs */
.Djs-wrapperr {
    display: flex;
    flex-wrap: wrap;

}

.otherDjs {
    padding-left: 40px;

    margin-bottom: 15px;
}

.Dj-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Dj-img {

    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;


}

.one,
.two,
.three,
.four,
.five,
.six {
    width: 218px;
    height: 247px;
    margin-right: 10px;
    text-align: center;
}

.Card {
    flex: 10%;
    height: 210px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.Card-wrapper {
    display: flex;
    display: inline;

}

.Nom-djs {
    text-align: center;
}

.Nom-djs span {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}



a {
    background-color: transparent;
}

@media screen and (min-width: 1024px) {
    h1.title {
        font-family: Poppins;
        font-size: 49px;
        font-weight: 600;
        line-height: 55px;
        letter-spacing: 0em;
        text-align: center;
    }
}

h1.title {
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 55px;
    font-weight: 600;
    line-height: 55px;
    letter-spacing: 0em;
    text-align: center;
}

.name {
    font-family: "Source Sans Pro";
    font-size: 25px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
}

.btn-viewall {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    text-align: center;
}

.btn-viewall button {


    background-color: #393b8c;
    border-radius: 1.4rem;
    width: 17.6rem;
    height: 4.7rem;

    font-size: 1.5rem;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    cursor: pointer;

    border: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav__list {
    width: 100%;
    list-style-type: none;
}

.nav__item {
    padding: 1.6rem 2.5rem;
    border-bottom: 1px solid black;
    font-weight: bold;
}

.nav__item > a {
    color: black;
    transition: color 0.3s ease 0s;
}

.nav__item > a:hover {
    color: var(--color-primary);
}

.nav__toggler {
    padding: 1.8rem;
    cursor: pointer;
}

.collapsible--expanded .collapsible__content {
    max-height: 100%;
    opacity: 1;
}

.nav__list {
    width: 100%;
    padding-right: 0rem;
    padding-left: 0rem;
    font-size: 2rem;
}

.collapsible__content {
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s ease 0s;
}

@media screen and (min-width: 1024px) {
    .nav__toggler {
        display: none;
    }

    .nav__list {
        width: auto;
        display: flex;
        font-size: 1.2rem;
        max-height: 100%;
        opacity: 1;
        margin: -0.5rem 0px 0px;
        padding-right: 19rem;
        padding-left: 0rem;
        padding-top: 1.3rem;
    }

    .nav__item {
        border: 0px;
    }
}

.img {
    height: 6rem;
    width: 8rem;
    margin-left: 1rem;
}
.cta {
    margin-left: 2rem;
}
button {
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0.8rem 1.6rem;
    color: white;
    background-color: rgb(136, 139, 254);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-top: 1rem;
}
a {
    text-decoration: none;
      font-family: 'Baloo Bhaijaan 2', cursive;

}
.nav__item > a:hover {
    color: #888bfe;;
}



footer {
    max-width: 100%;
    width: 1922px;
    height: 320px;
    background: rgb(33, 33, 33);
    top: 260%;
    position: absolute;
    flex: 0 0 auto;
    order: 1;
}

.insta {
    width: 21px;
    height: 21px;
    flex: 0 0 auto;
    order: 0;
    cursor: pointer;
}

.fb {
    width: 23.25px;
    height: 23.11px;
    flex: 0 0 auto;
    order: 1;
    cursor: pointer;
}

.social {
    position: absolute;
    left: 64.5%;
    top: 19%;
}

.city {
    padding: 0px;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0px;
    position: absolute;
    left: 14%;
    top: 10%;
}

.str {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    color: rgb(245, 245, 245);
    opacity: 0.5;
}

.st {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(198, 190, 190);
    opacity: 0.5;
}

thead {
    color: rgb(255, 255, 255);
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
}

.ct {
    color: rgb(245, 245, 245);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    height: 30px;
    flex: 0 0 auto;
    order: 1;
}

.copyright {
    position: absolute;
    top: 70%;
    left: 14%;
}

.tlt {
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.city1 {
    padding: 0px;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0px;
    position: absolute;
    left: 29%;
    top: 10%;

}

.ct1 {
    color: rgb(245, 245, 245);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    height: 30px;
    flex: 0 0 auto;
    order: 1;
}

.tlt1 {
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.city2 {
    padding: 0px;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0px;
    position: absolute;
    left: 41%;
    top: 10%;

}

.ct2 {
    color: rgb(245, 245, 245);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    height: 30px;
    flex: 0 0 auto;
    order: 1;
}

.tlt2 {
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.city3 {
    padding: 0px;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0px;
    position: absolute;
    left: 52%;
       top: 10%;
 
}

.ct3 {
    color: rgb(245, 245, 245);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    height: 30px;
    flex: 0 0 auto;
    order: 1;
}

.tlt3 {
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.h_line {
    border-bottom: 1px solid rgb(80, 80, 78);
    width: 850px;
    margin: auto;
    position: absolute;
    top: 70%;
    left: 14%;
}

.v_line {
    border-left: 1px solid rgb(80, 80, 78);
    height: 215px;
    margin: 0px auto;
    width: 2px;
    position: absolute;
    top: 3%;
    left: 62%;
}

.tlt4 {
    font-size: 18px;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 9%;
    left: 63.5%;
}



 .pref {
    max-width: 100%;
    padding-top: 3rem;
    position: relative;
}

.pref1 {
    height: 25rem;
    border-radius: 4.6rem;
    padding: 5.5rem;
    position: absolute;
    top: 175%;
    left: 52%;
    transform: translate(-50%, -50%);
}

.pref2 {
    height: 35rem;
    border-radius: 46px;
    padding: 55px;
    position: absolute;
    top: 228.8%;
    left: 37%;
    transform: translate(-50%, -50%);
}

.pref3 {
    border-radius: 46px;
    padding: 55px;
    position: absolute;
    top: 215%;
    left: 70%;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

.pref4 {
    width: 30rem;
    border-radius: 46px;
    padding: 55px;
    position: absolute;
    top: 207%;
    left: 70%;
    transform: translate(-50%, -50%);